import { defineConfig } from 'vite'
{{- if eq .Framework "vue" }}
import vue from '@vitejs/plugin-vue'
{{- else if eq .Framework "svelte" }}
import svelte from '@sveltejs/vite-plugin-svelte'
{{- else if eq .Framework "react" }}
import react from '@vitejs/plugin-react'
{{- end }}
{{- if eq .CSS "tailwind" }}
import tailwindcss from '@tailwindcss/vite'
{{- end }}

// https://vite.dev/config/
export default defineConfig({
  plugins: [
    {{- if eq .Framework "react" }}
    react(),
    {{- else if eq .Framework "vue" }}
    vue(),
    {{- else if eq .Framework "svelte" }}
    svelte(),
    {{- end }}
    {{- if eq .CSS "tailwind" }}
    tailwindcss()
    {{- end }}
  ],
})
