{{- if eq .CSS "bootstrap" }}
{{- if eq .Framework "react" }}
import 'bootstrap/dist/css/bootstrap.min.css';
{{- end }}
{{- end }}
{{- if eq .Framework "react" }}

function App() {

  return (
    <>
      {{- template "main_component" . }}
    </>
  )
}

export default App
{{- else if eq .Framework "vue" }}
{{- if eq .CSS "bootstrap" }}
import 'bootstrap/dist/css/bootstrap.min.css';
{{- end }}

<script setup>
</script>


<template>
 {{- template "main_component" . }}
</template>

<style scoped>
</style>
{{- else if eq .Framework "svelte" }}
{{- if eq .CSS "bootstrap" }}
import 'bootstrap/dist/css/bootstrap.min.css';
{{- end }}
<script>
</script>

<main>
  {{- template "main_component" . }}
</main>

<style>
</style>
{{- end }}

{{- define "main_component" }}
{{- if eq .CSS "tailwind" }}
    <div className="flex flex-col items-center justify-center h-screen bg-white">
      <div className="bg-gray-800 border-4 border-gray-300 border-double text-white px-12 py-12 rounded-lg shadow-2xl flex flex-col space-y-4 hover:scale-115 transition-all duration-600">
        <div className="flex items-center justify-between">
          <h1 className="text-4xl font-bold">
            SERSI <code className="text-primary">Core</code>
          </h1>
          <a
            href="https://sersi.dev"
            className="underline italic text-center mt-3 text-sm"
          >
            https://sersi.dev
          </a>
        </div>
        <p className="text-xl mt-2">
          Your <span className="text-primary">Stack</span>, Your{" "}
          <span className="text-accent">Rules</span>.
        </p>
        <pre className="bg-black/90 p-4 rounded-lg">
          <code>Frontend: {{ .Framework }}, {{ .CSS }}, {{ .Language }}</code>
        </pre>
      </div>
    </div>
{{- else }}
    <div className="container">
      <div className="card">
        <div className="card-header">
          <h1 className="title">
            SERSI <code className="highlight">Core</code>
          </h1>
          <a href="https://sersi.dev" className="link">
            https://sersi.dev
          </a>
        </div>
        <p className="subtitle">
          Your <span className="highlight">Stack</span>, Your{" "}
          <span className="accent">Rules</span>.
        </p>
        <pre className="code-block">
          <code>Frontend: {{ .Framework }}, {{ .CSS }}, {{ .Language }}</code>
        </pre>
      </div>
    </div>
{{- end }}
{{- end }}
